xml-resources/web-service-references/order2/wsdl/order2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpd.ru/ws/order2/2012-04-04" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dpd.ru/ws/order2/2012-04-04" name="DPDOrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://dpd.ru/ws/order2/2012-04-04" schemaLocation="http://wstest.dpd.ru:80/services/order2?xsd=1"/>
</xsd:schema>
</types>
<message name="createAddress">
<part name="parameters" element="tns:createAddress"/>
</message>
<message name="createAddressResponse">
<part name="parameters" element="tns:createAddressResponse"/>
</message>
<message name="WSFault">
<part name="fault" element="tns:WSFault"/>
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder"/>
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="addParcels">
<part name="parameters" element="tns:addParcels"/>
</message>
<message name="addParcelsResponse">
<part name="parameters" element="tns:addParcelsResponse"/>
</message>
<message name="getOrderStatus">
<part name="parameters" element="tns:getOrderStatus"/>
</message>
<message name="getOrderStatusResponse">
<part name="parameters" element="tns:getOrderStatusResponse"/>
</message>
<message name="getInvoiceFile">
<part name="parameters" element="tns:getInvoiceFile"/>
</message>
<message name="getInvoiceFileResponse">
<part name="parameters" element="tns:getInvoiceFileResponse"/>
</message>
<message name="removeParcels">
<part name="parameters" element="tns:removeParcels"/>
</message>
<message name="removeParcelsResponse">
<part name="parameters" element="tns:removeParcelsResponse"/>
</message>
<message name="updateAddress">
<part name="parameters" element="tns:updateAddress"/>
</message>
<message name="updateAddressResponse">
<part name="parameters" element="tns:updateAddressResponse"/>
</message>
<message name="getRegisterFile">
<part name="parameters" element="tns:getRegisterFile"/>
</message>
<message name="getRegisterFileResponse">
<part name="parameters" element="tns:getRegisterFileResponse"/>
</message>
<portType name="DPDOrder">
<operation name="createAddress">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createAddressRequest" message="tns:createAddress"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createAddressResponse" message="tns:createAddressResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createAddress/Fault/WSFault"/>
</operation>
<operation name="createOrder">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createOrderRequest" message="tns:createOrder"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createOrderResponse" message="tns:createOrderResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/createOrder/Fault/WSFault"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/cancelOrderResponse" message="tns:cancelOrderResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/cancelOrder/Fault/WSFault"/>
</operation>
<operation name="addParcels">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/addParcelsRequest" message="tns:addParcels"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/addParcelsResponse" message="tns:addParcelsResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/addParcels/Fault/WSFault"/>
</operation>
<operation name="getOrderStatus">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getOrderStatusRequest" message="tns:getOrderStatus"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getOrderStatusResponse" message="tns:getOrderStatusResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getOrderStatus/Fault/WSFault"/>
</operation>
<operation name="getInvoiceFile">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getInvoiceFileRequest" message="tns:getInvoiceFile"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getInvoiceFileResponse" message="tns:getInvoiceFileResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getInvoiceFile/Fault/WSFault"/>
</operation>
<operation name="removeParcels">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/removeParcelsRequest" message="tns:removeParcels"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/removeParcelsResponse" message="tns:removeParcelsResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/removeParcels/Fault/WSFault"/>
</operation>
<operation name="updateAddress">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/updateAddressRequest" message="tns:updateAddress"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/updateAddressResponse" message="tns:updateAddressResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/updateAddress/Fault/WSFault"/>
</operation>
<operation name="getRegisterFile">
<input wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getRegisterFileRequest" message="tns:getRegisterFile"/>
<output wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getRegisterFileResponse" message="tns:getRegisterFileResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/order2/2012-04-04/DPDOrder/getRegisterFile/Fault/WSFault"/>
</operation>
</portType>
<binding name="DPDOrderPortBinding" type="tns:DPDOrder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="createOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="addParcels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getOrderStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getInvoiceFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="removeParcels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="updateAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getRegisterFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="DPDOrderService">
<port name="DPDOrderPort" binding="tns:DPDOrderPortBinding">
<soap:address location="http://wstest.dpd.ru:80/services/order2"/>
</port>
</service>
</definitions>