xml-resources/web-service-references/geography/wsdl/geography.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpd.ru/ws/geography/2012-04-17" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dpd.ru/ws/geography/2012-04-17" name="DPDGeographyService">
<types>
<xsd:schema>
<xsd:import namespace="http://dpd.ru/ws/geography/2012-04-17" schemaLocation="http://ws.dpd.ru:80/services/geography?xsd=1"/>
</xsd:schema>
</types>
<message name="getTerminalsSelfDelivery2">
<part name="parameters" element="tns:getTerminalsSelfDelivery2"/>
</message>
<message name="getTerminalsSelfDelivery2Response">
<part name="parameters" element="tns:getTerminalsSelfDelivery2Response"/>
</message>
<message name="WSFault">
<part name="fault" element="tns:WSFault"/>
</message>
<message name="getTerminalsSelfDelivery">
<part name="parameters" element="tns:getTerminalsSelfDelivery"/>
</message>
<message name="getTerminalsSelfDeliveryResponse">
<part name="parameters" element="tns:getTerminalsSelfDeliveryResponse"/>
</message>
<message name="getCitiesCashPay">
<part name="parameters" element="tns:getCitiesCashPay"/>
</message>
<message name="getCitiesCashPayResponse">
<part name="parameters" element="tns:getCitiesCashPayResponse"/>
</message>
<message name="getParcelShops">
<part name="parameters" element="tns:getParcelShops"/>
</message>
<message name="getParcelShopsResponse">
<part name="parameters" element="tns:getParcelShopsResponse"/>
</message>
<portType name="DPDGeography">
<operation name="getTerminalsSelfDelivery2">
<input wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDelivery2Request" message="tns:getTerminalsSelfDelivery2"/>
<output wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDelivery2Response" message="tns:getTerminalsSelfDelivery2Response"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDelivery2/Fault/WSFault"/>
</operation>
<operation name="getTerminalsSelfDelivery">
<input wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDeliveryRequest" message="tns:getTerminalsSelfDelivery"/>
<output wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDeliveryResponse" message="tns:getTerminalsSelfDeliveryResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getTerminalsSelfDelivery/Fault/WSFault"/>
</operation>
<operation name="getCitiesCashPay">
<input wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getCitiesCashPayRequest" message="tns:getCitiesCashPay"/>
<output wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getCitiesCashPayResponse" message="tns:getCitiesCashPayResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getCitiesCashPay/Fault/WSFault"/>
</operation>
<operation name="getParcelShops">
<input wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getParcelShopsRequest" message="tns:getParcelShops"/>
<output wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getParcelShopsResponse" message="tns:getParcelShopsResponse"/>
<fault message="tns:WSFault" name="WSFault" wsam:Action="http://dpd.ru/ws/geography/2012-04-17/DPDGeography/getParcelShops/Fault/WSFault"/>
</operation>
</portType>
<binding name="DPDGeographyPortBinding" type="tns:DPDGeography">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTerminalsSelfDelivery2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getTerminalsSelfDelivery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getCitiesCashPay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
<operation name="getParcelShops">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSFault">
<soap:fault name="WSFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="DPDGeographyService">
<port name="DPDGeographyPort" binding="tns:DPDGeographyPortBinding">
<soap:address location="http://ws.dpd.ru:80/services/geography"/>
</port>
</service>
</definitions>